body{
    margin:0;
    background:
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)),
    url('/static/images/bgmi_bg.jpg');

    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    color:white;
    font-family:Arial;
    text-align:center;
}

h1{
    color:#00e5ff;
    margin-top:30px;
}

p{
    color:#cccccc;
}

.btn{
    display:block;
    margin:15px;
    padding:18px;
    background:rgba(0,0,0,0.7);
    border:2px solid #00e5ff;
    border-radius:15px;
    color:white;
    text-decoration:none;
    font-size:22px;
    font-weight:bold;

    box-shadow:0 0 15px #00e5ff;
    transition:0.3s;
    animation: glow 2s infinite;
}

.btn:hover{
    background:#00e5ff;
    color:black;
    transform:scale(1.08);
    box-shadow:0 0 30px #00e5ff;
}


@keyframes glow{

    0%{
        box-shadow:0 0 10px #00e5ff;
    }

    50%{
        box-shadow:0 0 25px #00e5ff;
    }

    100%{
        box-shadow:0 0 10px #00e5ff;
    }

}